@charset "UTF-8";


body{
    background-color: wheat;
}

main {
    background-color: white;
    margin: auto;
    max-width: 1000px;
    min-width: 500px;
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
}