@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../imagens/fundo-principal-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

header > h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    background-image: linear-gradient(to bottom, #53539c, #363666 );
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.514);
}

main {
    background-color: #363666;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: white;
}